# .env.example
# Default paths on local Windows laptop
# default
DATA_DIR="C:\Users\zhang\OneDrive\Documents\GitHub\corporate_bond_liquidity_research\data"
OUTPUT_DIR="C:\Users\zhang\OneDrive\Documents\GitHub\corporate_bond_liquidity_research\output"

WRDS_USERNAME="zhangruoxikathy"
